/* Small Device */
@media(min-width: 576px) {}

/* Medium Device */
@media(min-width: 768px) {}

/* Large Device */
@media(min-width: 992px) {
    .card-footer .col-7 {
        padding-left: 10px;
        padding-right: 0;
    }

    .card-footer .col-5 {
        padding-left: 0;
        padding-right: 10px;
    }

    .carousel-item p {
        padding: 0 100px;
    }
}

/* Extra Large */
@media(min-width: 1200px) {}