* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
}

section {
    padding: 60px 0;
}

h2 {
    text-align: center;
    color: #413960;
    margin-bottom: 60px;
}

p {
    color: #6C6B6B;
}

/* Header */

.header-area {
    background-color: #F0FFF0;
}

.navbar-brand img {
    width: 198.07px;
    height: 59px;
}

.nav-link {
     transition: all 0.5s ease-out;
     -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
     -ms-transition: all 0.5s ease-out;
     -o-transition: all 0.5s ease-out;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
     margin-right: 10px;
     padding: 10px 20px;
     font-size: 18px;
}


.nav-link:hover {
    background-color: #21B573;
    color: #ffffff !important;
}

.btn-success {
    color: #ffffff !important;
    background: #21B573;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 8px 25px !important;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    font-weight: bold;
}

.btn-success:hover {
    background-color: #ffffff;
    color: #21B573 !important;
}

/* banner */

.banner-area {
    background-color: #F0FFF0;
}

.banner-area img {
    transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
}

.banner-area img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.learn {
    color: #FD511A;
}

.banner-area span {
    color: #21B573;
}

.banner {
    padding: 0 40px;
}

/* anythings */

.anythings {
    background: #F8FFFB;
    text-align: center;
    padding: 50px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.anythings:hover {
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}

.anythings img {
    width: 80px;
    height: 100px;
    margin-bottom: 30px;
}

/* courses */

.courses-area .card {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
    border-radius: 18px;
}

.courses-area .card-img-top {
    padding: 16px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
}

.courses-area .card-img-top:hover {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
}

.card-footer {
    background-color: #ffffff;
    border-color: #ffffff;
    font-size: 14px;
}

.card-footer img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.card-footer p {
    line-height: 30px;
}

/* testimonial */

.carousel-item img {
    width: 120px;
    height: 120px;
    border: 4px solid rgba(33, 181, 115, 0.8);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.carousel-item .card {
    border: none;
    text-align: center;
    padding: 20px;
}

.carousel-item .card-title span {
    font-style: italic;
}

.carousel-item p {
    padding: 0 180px;
}

.icon {
    background-color: rgba(33, 181, 115, 0.4);
    line-height: 10px;
    padding: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

/* footer */
.footer-area {
    background-color: #282531;
    color: #ffffff;
    padding-top: 60px;
    padding-bottom: 30px;
}

.footer {
    margin-bottom: 40px;
}

.footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer a {
    color: #bdb9b9;
}

.footer p {
    color: #afadad;
    font-size: 18px;
    padding-right: 20px;
}

/* media */

@media screen and (max-width: 992px) {
    .card-footer .col-7 {
        padding-left: 10px;
        padding-right: 0;
    }

    .card-footer .col-5 {
        padding-left: 0;
        padding-right: 10px;
    }
}

@media screen and (max-width: 768px) {
    .banner h1 {
        font-size: 36px;
    }

    .banner p {
        font-size: 14px;
    }

    .anythings h4 {
        font-size: 20px;
    }

    .btn-success {
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }

    .banner img {
        margin-top: 20px;
    }

    .card-deck {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        grid-gap: 1rem;
    }

    .carousel-item p {
        padding: 0px;
    }

    .card-body {
        text-align: center;
    }
}